{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path("article_update", {slug: article.slug}) }}">Update Article</a>
    <h2>{{ article.title }}</h2>
    <p>Author: {{ article.author.firstname }} {{ article.author.lastname }}</p>
    <p>Views: {{ article.countView }}</p>

    <ul>
        {% for tag in article.tags %}
        <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <p>{{ article.content }}</p>
{% endblock %}
